<h2 class="center">Users Table</h2>
<div class="center">
  <a class="button" href="/users/new">Create User</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <!-- generates a row for each subscriber -->
    <% users.forEach(user => { %>
    <tr>
      <td>
        <a href="<%=`/users/${user._id}`%>">
          <%= user.fullName %>
        </a>
        <!-- subscribers are in anchor tags -->
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.zipCode %>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/edit`%>">
          Edit
        </a>
        <!-- edit link -->
      </td>
      <td>
        <a href="<%=`/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
        <!-- delete link -->
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
